.cart{
    background-color: #E1ECC8;
    width: 100%;
    height: 100%;
}
.emptyCart{
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.emptyCart img{
    width: 400px;
    height: 300px;
    mix-blend-mode: multiply;
    margin-top: 50px;
}
.emptyCart button{
    width: 200px;
    height: 50px;
}
.Cart{
    display: flex;
    justify-content: space-around;
   
}
.cart_page{
    margin: 1% 0 0 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 10px;
}
.billing{
    width: 50%;
}
.cart_page_details{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: 1px  solid black;
    border-bottom: 1px  solid black;
    background-color: #dadcd4;
    border-radius: 10px;
   
}
.cart_page_details img{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    margin: 5px;
}
.quantity{
    display: flex;
    gap: 15px;
}
.billing_section{
    display: flex;
    flex-direction: column;
}

.billing{
    width: 100%;
    
    border-top:1px solid black;
    border-bottom: 1px solid black;
    background-color: #dadcd4;
    
  
}

.billing_portion {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 20px;
    border-bottom:.5px dotted black;

}
.billing_portion img{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    
}