body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
.navbar {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;
}
.navbar a {
  color: black;
}
.navbar .logo img {
  width: 57px;
  height: 48px;
}
.navbar .navitem {
  width: 293px;
  height: 22px;
}
.navbar .navitem a {
  text-decoration: none;

  padding: 0 10px;
  font-weight: 400;
}
.navbar .navitem a:hover {
  font-weight: 600;
  scale: 10px;
}
.navbar .search {
  width: 534px;
  height: 52px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #848484;
  position: relative;
}
.navbar .search input{
  width: 88%;
  height: 100%;
  outline: none;
  position: absolute;
  left: 2;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #848484;
  border: none;
  background-color: #f0f0f0;
  font-size: 17px;
}
.navbar .search input ::placeholder{
  font-size: 50px;
}
.navbar .search button{
  width: 12%;
  height: 100%;
  outline: none;
  position: absolute;
  right: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #848484;
  border: none;
  background-color: #f0f0f0;

}
.navbar .profile {
  width: 263px;
  height: 22px;
  display: flex;
  align-items: center;
}
.navbar .profile a {
  text-decoration: none;
  padding: 0 10px;
}
.wishbtn:hover {
  color: red;
}
/* ANNOUNCEMENT SECTION */
.announcement {
  width: 100%;
  height: 51px;
  position: relative;
  background-color: #f9faff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.announcement span {
  margin: 0 20px;
  font-weight: 400;
  color: #00398f;
}
.announcement button {
  border: none;
  position: absolute;
  right: 2%;
  background-color: #f9faff;
  color: #848484;
}
.profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.profile a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
