.product-list {
  background-color: #E1ECC8;
  margin: 15px;
  display: flex;
  column-gap: 29.5px;
  row-gap: 5px;
  flex-wrap: wrap;
  /* justify-content:space-between; */
}
.product {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 350px;
  height: 450px;
  border: 1 px solid #211f1f;
  background-color: #eeeeee;
  border-radius: 10px;
}
.product img {
  margin: 10px;
  width: 340px;
  height: 300px;
  border-radius: 5px;
}
.product .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .details {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.product-list :hover {
  /* transform: translate(1px, 10px); */
  transform: scale(10px);
}
