body{
    margin: 0;
    padding: 0;
   
    
}
.single-page{
    display: flex;
    justify-content: center;
    background-color: #E1ECC8;
    height: 100vh;
}

.details{
   
    width: 90%px;
    height: 300px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.details div{
    text-align: center;
}
.details .img{
    background-color: #88888888;
    width:30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    

}
.details .others{
    width: 40%;
    height: 100%;
}

.details .img img{
    width: 90%;
    height: 90%;
    border-radius: 5%;
}
span{
    font-weight: 300;
}
.itemdescription{
    display: flex;
    justify-content: space-around;
}
.branddescription{
    display: flex;
    justify-content: space-around;
}
.pricing{
    display: flex;
    justify-content: space-around;
}
.pricing button{
    margin-top: 15px;
    height: 70%;
    align-items: center;
}
.arrayimage{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 90px;

}
.arrayimage img{
    height: 100px;
    width:100px ;
    border: 1px solid black;
    border-radius: 40%;
}

